{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
